ion-accordion-group {
  margin: 20px 10px;
}

ion-accordion {
  --ion-border-color: #ddd;
  --ion-border-width: 1px;
  --ion-border-radius: 8px;
  margin-bottom: 10px;
}

.offer-price {
  display: flex;
  justify-content: space-between;
  background-color: #dbd8d8;
  margin: 5px;
  border-radius: 15px;
}

.price-color {
  color: #34a853;
}

.font-size-12 {
  font-size: 12px;
}
