<ion-accordion-group class="font-family">
  <ion-accordion
    value="first"
    toggleIcon="caret-down-circle"
    toggleIconSlot="end"
  >
    <ion-item slot="header" color="light">
      <ion-label>
        <span class="font-family"> ADSL </span>
      </ion-label>
    </ion-item>
    <div
      class="ion-padding offer-price"
      slot="content"
      (click)="selectOffer('ADSL 20 Mbps', 51.4)"
    >
      <span>20 Mbps </span>
      <span>
        <span class="price-color"> <b>51.</b> <sup>400</sup></span>
        <span class="font-size-12"> TTC/Mois</span>
      </span>
    </div>
  </ion-accordion>
  <ion-accordion
    value="second"
    toggleIcon="caret-down-circle"
    toggleIconSlot="end"
  >
    <ion-item slot="header" color="light">
      <ion-label>
        <span class="font-family"> VDSL </span>
      </ion-label>
    </ion-item>
    <div
      class="ion-padding offer-price"
      slot="content"
      (click)="selectOffer('ADSL 30 Mbps', 66.4)"
    >
      <span>30 Mbps </span>
      <span>
        <span class="price-color"> <b>66.</b> <sup>400</sup></span>
        <span class="font-size-12"> TTC/Mois</span>
      </span>
    </div>
    <div
      class="ion-padding offer-price"
      slot="content"
      (click)="selectOffer('ADSL 50 Mbps', 81.4)"
    >
      <span>50 Mbps </span>
      <span>
        <span class="price-color"> <b>81.</b> <sup>400</sup></span>
        <span class="font-size-12"> TTC/Mois</span>
      </span>
    </div>
    <div
      class="ion-padding offer-price"
      slot="content"
      (click)="selectOffer('ADSL 100 Mbps', 116.4)"
    >
      <span>100 Mbps </span>
      <span>
        <span class="price-color"> <b>116.</b> <sup>400</sup></span>
        <span class="font-size-12"> TTC/Mois</span>
      </span>
    </div>
  </ion-accordion>
  <ion-accordion
    value="third"
    toggleIcon="caret-down-circle"
    toggleIconSlot="end"
  >
    <ion-item slot="header" color="light">
      <ion-label>
        <span class="font-family"> BEE FIBRE </span>
      </ion-label>
    </ion-item>
    <div
      class="ion-padding offer-price"
      slot="content"
      (click)="selectOffer('BEE FIBRE 50 Mbps', 79.4)"
    >
      <span>50 Mbps </span>
      <span>
        <span class="price-color"> <b>79.</b> <sup>400</sup></span>
        <span class="font-size-12"> TTC/Mois</span>
      </span>
    </div>
    <div
      class="ion-padding offer-price"
      slot="content"
      (click)="selectOffer('BEE FIBRE 100 Mbps', 114.4)"
    >
      <span>100 Mbps </span>
      <span>
        <span class="price-color"> <b>114.</b> <sup>400</sup></span>
        <span class="font-size-12"> TTC/Mois</span>
      </span>
    </div>
  </ion-accordion>
</ion-accordion-group>
