.text-center {
  text-align: center;
}

.font-family {
  font-family: NeoSansProMedium;
}

.font-family-regular {
  font-family: NeoSansProRegular;
}

.create-account {
  font-size: 20px;
  font-weight: 500;
  color: #34a853;
}

.my-account {
  font-size: 17px;
  font-weight: 400;
  color: #3c3188;
}

.bee-tunisia {
  font-size: 32px;
  font-weight: 500;
  color: #3c3188;
}

.margin-between-from-and-header {
  margin-top: 60px;
}

.margin-between-form-item {
  margin-bottom: 20px;
}

.d-flex {
  display: flex;
}
.margin-18 {
  margin: 10px 18px;
}

.margin-left-5 {
  margin-left: 5px;
}

.p-size {
  font-size: 12px;
}

.space-between {
  justify-content: space-between;
}

.still-connected {
  color: #34a853;
}

.connected-button {
  background-color: #34a853;
  height: 40px;
  border-radius: 20px;
  width: 96%;
  margin: 30px auto 10px;
  display: block;
  color: #fff;
  font-size: 15px;
}

.invited-button {
  background-color: #3c3188;
  height: 40px;
  border-radius: 20px;
  width: 96%;
  margin: 30px auto;
  display: block;
  color: #fff;
  font-size: 15px;
}

.margin-top-60 {
  margin-top: 60px;
}

.button-shadow {
  box-shadow: 0px 5px #e2e1e1;
}
