<div>
  <!-- <h2 class="create-account font-family text-center">Créer un compte</h2> -->
  <h1 class="text-center font-family bee-tunisia">BEE TUNISIE</h1>
  <h3 class="text-center font-family-regular my-account">Mon Compte</h3>

  <form [formGroup]="loginForm" class="margin-between-from-and-header">
    <ion-list lines="none">
      <ion-item class="margin-between-form-item">
        <ion-input
          type="text"
          fill="outline"
          placeholder="Enter CIN/Passport"
          formControlName="cin"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-input type="password" fill="outline" placeholder="Mot de passe" formControlName="password">
          <ion-input-password-toggle slot="end"></ion-input-password-toggle>
        </ion-input>
      </ion-item>
    </ion-list>
  </form>

  <div class="d-flex justify-end margin-18">
    <!-- <div class="p-size">
      <input type="checkbox" />
      <label class="font-family-regular still-connected margin-left-5"
        >Restez connecté?</label
      >
    </div> -->

    <div class="p-size font-family-regular">Mot de passe oublié?</div>
  </div>

  <div class="margin-top-60 margin-18">
    <button class="connected-button button-shadow">Connectez Vous</button>
  </div>
  <div class="margin-18">
    <button class="invited-button button-shadow">Mode invité</button>
  </div>
  <div class="margin-18 text-center">
    <p class="font-family register-style" [routerLink]="['/register']">S'inscrire</p>
  </div>
</div>
