<form [formGroup]="searchForm" class="m-4">
  <ion-input
    label="Adresse Client"
    label-placement="floating"
    fill="outline"
    placeholder="Adresse Client"
    class="input-margin text-font-family"
  ></ion-input>

  <ion-input
    label="Pays"
    label-placement="floating"
    fill="outline"
    placeholder="Pays"
    class="input-margin text-font-family"
  ></ion-input>

  <ion-input
    label="Ville"
    label-placement="floating"
    fill="outline"
    placeholder="Ville"
    class="input-margin text-font-family"
  ></ion-input>

  <ion-input
    label="Gouvernorat"
    label-placement="floating"
    fill="outline"
    placeholder="Gouvernorat"
    class="input-margin text-font-family"
  ></ion-input>

  <ion-input
    label="Code Postal"
    label-placement="floating"
    fill="outline"
    placeholder="Code Postal"
    class="input-margin text-font-family"
  ></ion-input>

  <ion-input
    label="Adresse Facturation"
    label-placement="floating"
    fill="outline"
    placeholder="Adresse Facturation"
    class="input-margin text-font-family"
  ></ion-input>

  <ion-input
    label="Adresse Installation"
    label-placement="floating"
    fill="outline"
    placeholder="Adresse Installation"
    class="input-margin text-font-family"
  ></ion-input>

  <ion-input
    label="Contact"
    label-placement="floating"
    fill="outline"
    placeholder="Contact"
    class="input-margin text-font-family"
  ></ion-input>
</form>

<ion-footer class="my-custom-footer ion-no-border footer-position">
  <div class="text-center">
    <button
      class="btn btn-custom text-font-family"
      type="submit"
      (click)="onSubmit()"
    >
      Suivant
    </button>
  </div>
</ion-footer>
