.card-bg {
  background-color: #f6f6f7;
}

.unpaid {
  background-color: #f2781f;
  color: white;
}

.paid {
  background-color: #34a853;
  color: white;
}

.status {
  padding: 3px 5px;
  border-radius: 15px;
}
