.input-margin {
  margin-bottom: 10px;
}

.my-custom-footer {
  margin-bottom: 20px;
}

.text-font-family {
  font-family: "NeoSansProRegular", serif;
}

.btn-custom {
  width: 185px;
  height: 40px;
  margin: auto;
  background-color: #34a853;
  border-radius: 20px;
  color: #fff;
  font-size: 15px;
}

.footer-position {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
