.bee-logo {
  width: 155px;
  margin: auto;
}

.label-margin {
  margin: 17px;
}

.input-margin {
  margin: 10px 0px;
}

.logo-margin {
  margin-top: 25px;
  margin-bottom: 120px;
}

.save-button {
  background-color: #34a853;
  color: #fff;
  width: 275px;
  height: 40px;
  font-size: 15px;
  border-radius: 20px;
}

.mt-25 {
  margin-top: 20px;
}

.mt-40 {
  margin-top: 40px;
}
.button-shadow {
  box-shadow: 0px 5px #e2e1e1;
}

.insert-number-text {
  color: #3c1893;
  font-size: 16px;
}
