<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title class="text-white text-font-family">Bee Better</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding bg-light">
  <div class="container">
    <div class="row">
      <div class="col-6 col-md-3">
        <div
          class="card card-custom p-3 text-font-family"
          [routerLink]="['/factures']"
        >
          <img src="assets/images/factures.png" alt="Mes Factures" />
          <p class="text-font-family">Mes Factures</p>
        </div>
      </div>
      <div class="col-6 col-md-3">
        <div class="card card-custom p-3" [routerLink]="['/paiement-express']">
          <img src="assets/images/express.png" alt="Paiement express" />
          <p class="text-font-family">Paiement</p>
        </div>
      </div>
      <div class="col-6 col-md-3">
        <div class="card card-custom p-3" [routerLink]="['/assistance']">
          <img src="assets/images/assistance.png" alt="Assistance" />
          <p>Assistance</p>
        </div>
      </div>
      <div class="col-6 col-md-3">
        <div class="card card-custom p-3" [routerLink]="['/abonne-clic']">
          <img src="assets/images/clic.png" alt="Abonné à clic" />
          <p>Abonné à clic</p>
        </div>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer class="my-custom-footer ion-no-border">
  <div class="text-center">
    <button class="btn btn-custom text-font-family">Se Connecter</button>
  </div>
</ion-footer>
