.card-custom {
  border-radius: 15px;
  text-align: center;
  margin-bottom: 20px;
  background: #ffffff;
  box-shadow: 4px 4px 20px 3px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.card-custom img {
  width: 64px;
  height: 66px;
  margin: 7px auto;
}

.btn-custom {
  width: 185px;
  height: 40px;
  margin: auto;
  background-color: #34a853;
  border-radius: 20px;
  color: #fff;
  font-size: 15px;
}
.card-custom p {
  margin-top: 1.2em;
  text-align: center;
  font-family: "NeoSansProRegular", serif;
  font-style: normal;
  font-weight: 700;
  line-height: 12px;
  color: #3c3188;
}

ion-toolbar {
  --background: #0f4ba7;
  --color: white;
}

.my-custom-footer {
  margin-bottom: 20px;
}

.text-font-family {
  font-family: "NeoSansProRegular", serif;
}
