

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>

  <div class="container mt-5">
    <div class="row">
        <div class="col-6 col-md-3">
            <div class="card card-custom p-3">
                <img src="assets/images/informations.png" alt="Mes Informations">
                <p>Mes Informations</p>
            </div>
        </div>
        <div class="col-6 col-md-3">
            <div class="card card-custom p-3">
                <img src="assets/images/factures.png" alt="Mes Factures">
                <p>Mes Factures</p>
            </div>
        </div>
        <div class="col-6 col-md-3">
            <div class="card card-custom p-3">
                <img src="assets/images/contrats.png" alt="Mes Contrats">
                <p>Mes Contrats</p>
            </div>
        </div>
        <div class="col-6 col-md-3">
            <div class="card card-custom p-3">
                <img src="assets/images/express.png" alt="Paiement express">
                <p>Paiement express</p>
            </div>
        </div>
        <div class="col-6 col-md-3">
            <div class="card card-custom p-3">
                <img src="assets/images/migration.png" alt="Migration de l'offre">
                <p>Migration de l'offre</p>
            </div>
        </div>
        <div class="col-6 col-md-3">
            <div class="card card-custom p-3">
                <img src="assets/images/assistance.png" alt="Assistance">
                <p>Assistance</p>
            </div>
        </div>
        <div class="col-6 col-md-3">
            <div class="card card-custom p-3">
                <img src="assets/images/offres.png" alt="Nos Offres">
                <p>Nos Offres</p>
            </div>
        </div>
        <div class="col-6 col-md-3">
            <div class="card card-custom p-3">
                <img src="assets/images/clic.png" alt="Abonné à clic">
                <p>Abonné à clic</p>
            </div>
        </div>
    </div>
    <div class="text-center mt-4">
        <button class="btn btn-custom">Se Connecter</button>
    </div>
</div>
</body>
