.page {
  background-color: #3c3188;
  height: 100%;
}

.image-position {
  width: 80%;
  margin: 10px auto;
  display: flex;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


// popup
.logo-bee {
  text-align: center;
  margin: 20px auto;
}

.level-up-text {
  color: #fff;
  float: right;
  margin-top: 20px;
  padding-left: 15px;
  font-family: NeoSansProMedium;
}

.text-size {
  font-size: 27px;
}

.grid-margin-top {
  margin-top: 60px;
}

.close-button {
  float: inline-end;
  margin: 10px 10px auto auto;
  background-color: #3c3188;
}

.close-icon {
  outline: none;
  border: none;
}