<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="/dashboard-menu"></ion-back-button>
    </ion-buttons>
    <ion-title class="text-white font-family">Abonne Clic</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  @if (step === 1) {
  <app-abonne-clic-offers
    (selectOfferEvent)="onSelectOffer($event)"
  ></app-abonne-clic-offers>
  } @else if (step === 2) {
  <app-abonne-clic-first-form
    (firstFormChange)="onFirstFormChange($event)"
  ></app-abonne-clic-first-form>
  } @else if (step === 3) {
  <app-abonne-clic-second-form
    (secondFormChange)="onSecondFormChange($event)"
  ></app-abonne-clic-second-form>
  } @else if(step === 4) {
  <app-abonne-clic-third-form></app-abonne-clic-third-form>
  }
</ion-content>
