<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="/dashboard-menu"></ion-back-button>
    </ion-buttons>
    <ion-title class="text-white font-family">Paiement</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="m-4">
    <ion-input
      label="Numéro ADSL"
      label-placement="floating"
      fill="outline"
      placeholder="77XXXXXX"
      class="input-margin text-font-family"
    ></ion-input>

    <ion-input
      label="Numéro CIN"
      label-placement="floating"
      fill="outline"
      placeholder="12345678"
      class="text-font-family"
    ></ion-input>
  </div>
</ion-content>

<ion-footer class="my-custom-footer ion-no-border">
  <div class="text-center">
    <button class="btn btn-custom text-font-family">Valider</button>
  </div>
</ion-footer>
