.hand-image-size {
  width: 28px;
}

.font-family {
  font-family: NeoSansProMedium;
}

.font-family-regular {
  font-family: NeoSansProRegular;
}

.d-flex {
  display: flex;
}

.text-center {
  text-align: center;
}

.center-block {
  width: max-content;
  margin: auto;
}

.input-fill-outline.sc-ion-input-md-h {
  min-height: 40px;
}

.save-button {
  width: 185px;
  height: 40px;
  margin: auto;
  background-color: #34a853;
  border-radius: 20px;
  color: #fff;
  font-size: 15px;
}

.welcome-text {
  color: #34a853;
  font-size: 37px;
}

.text-size {
  font-size: 12px;
}

.label-margin-left-20 {
  margin-left: 20px;
}
.space-between-inputs {
  margin-bottom: 15px;
}
